<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">order</th>
      <th scope="col">open_time</th>
      <th scope="col">type</th>
      <th scope="col">volume</th>
      <th scope="col">symbol</th>
      <th scope="col">price</th>
      <th scope="col">sl</th>
      <th scope="col">tp</th>
      <th scope="col">price</th>
      <th scope="col">commission</th>
      <th scope="col">swap</th>
      <th scope="col">profit</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="positions() as openPositions">
      <ng-container *ngIf="openPositions.length > 0 else noPositions">
        <tr *ngFor="let openPosition of openPositions">
          <th scope="row">{{ openPosition.order }}</th>
          <td class="open-time">{{ openPosition.open_time }}</td>
          <td>{{ openPosition.type }}</td>
          <td>{{ openPosition.volume }}</td>
          <td class="symbol">{{ openPosition.symbol }}</td>
          <td class="price">{{ openPosition.price }}</td>
          <td>{{ openPosition.sl }}</td>
          <td>{{ openPosition.tp }}</td>
          <td>{{ openPosition.price }}</td>
          <td>{{ openPosition.commission }}</td>
          <td>{{ openPosition.swap }}</td>
          <td>{{ openPosition.profit }}</td>
        </tr>
      </ng-container>
      <ng-template #noPositions>
        <tr>
          <th scope="row">n/a</th>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
        </tr>
      </ng-template>
    </ng-container>
  </tbody>
</table>

<hr class="featurette-divider" />
